
TagList {
	dock: left;
	width: 40;
	border: grey;
	margin-top: 1;
	margin-bottom: 1;
}

RefList {
	width: 200;
	border: grey;
}

RefListEntry {
	width: 200;
	height: 3;

}

ListView {
	width: 200;
	border: grey;
}